[global]
server.socket_host: '0.0.0.0'
server.socket_port: 8000
#environment: 'production'

[/]
tools.gzip.on: True

[/app.css]
tools.staticfile.on: True
tools.staticfile.filename: "/app.css"

[/favicon.ico]
tools.staticfile.on: True
tools.staticfile.filename: "/favicon.ico"

[password_booth]
#irods_host = 'host.docker.internal'
irods_host = 'irods.example.org'
irods_zone = 'tempZone'
irods_port = 1247
#title = 'iRODS Password Booth'
#custom_html_header = ''
#custom_html_footer = ''
